PandDaXML/PhaseChainOrderEditor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ChainOrderTemplate">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TaskInformation">
					<xsd:complexType>
						<xsd:sequence minOccurs="1" maxOccurs="unbounded">
							<xsd:element name="task-parameter">
								<xsd:complexType>
									<xsd:attribute name="name"></xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>