PandDaXML/phase_dir_index.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="refFileTemplate">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="reference">
					<xsd:complexType>
						<xsd:attribute name="name"></xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>			
		</xsd:complexType>
	</xsd:element>
</xsd:schema>